python=3.12
cfgrib
click
cython
conda-pack
dask=2024.2.0
dask-gateway=2024.1.0
distributed=2024.2.0
fsspec=2024.2.0
gdal
h5py
lxml
netcdf4
h5netcdf
numpy
pyepr
pyhdf
pyproj
pytest
pytz
rasterio
rioxarray
scikit-image
xarray=2024.1.1
libgdal-jp2openjpeg
