--withtoolbox
#if($outputdir)
--outputdir
$outputdir
#end
#if($withoutcleanup)
--withoutcleanup
#end
#if($withdetfoofilter)
--withdetfoofilter
#end
#if($withouttgc)
--withouttgc
#end
#if($dem)
--dem
$dem
#end
#if($acoliteanc)
--acoliteanc
acoliteanc
#end
#if($c2rccanc)
--c2rccanc
$c2rccanc
#end
#if($polymeranc)
--polymeranc
$polymeranc
#end
$sourceProductFile